html {
    overflow-y: hidden;
}

p {
    margin-top: 0.6rem;
}

@media print {
    body {
        margin: 0mm 6mm 1mm 3mm;
    }

    .container {
        margin: 0mm 4mm;
        padding: 3mm
    }

    .noprint {
        visibility: hidden;
        height: 0;
        max-height: mm;
    }

    .print, .printonly {
        visibility: visible;
    }

    .row {
        display: block;
    }
}

@page {
    margin: 10mm 16mm 10mm 6mm;
}

@media screen {
    .printonly {
        display: none;
    }
}